@use 'reset';
@use 'variables' as *;
@use 'function' as *;
@use 'keyframes';
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Niconne&family=Montserrat&display=swap');

@font-face {
    font-family: 'coolvetica';
    src: url(../webfonts/coolvetica-rg.otf);
}

body {
    color: $deep;
}

.icon {
    display: flex;

    a {
        width: 35px;
        height: 35px;
        margin-right: $interval-s;
        transition: $speed-fast;
    }

    @each $social in fb, ig, line {
        .icon-#{$social} {
            background-image: url(../images/icon-#{$social}.svg);
        }

        .icon-#{$social}:hover {
            background-image: url(../images/icon-#{$social}-hover.svg);
        }
    }
}

/* 頁首區 */
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-l;
    width: 100%;
    /* position的寬度會改為自動抓內容尺寸 */

    display: flex; //主軸方向:水平
    justify-content: space-between; // 主軸(水平)左右均分
    align-items: center; // 副軸(垂直)置中
    padding: $interval-xy-l;

    .logo {
        // 用img的爸爸給尺寸
        width: 65px;
    }

    .navigation {
        display: flex;
        flex-direction: column; // 主軸(垂直)
        align-items: flex-end; // 副軸(水平)置底(靠右)

        .menu {
            font-family: 'coolvetica', sans-serif;
            display: flex;
            border-radius: 99px;
            padding: $interval-x-s;
            margin-top: $interval-s;
            // @extend %glassmorphism;

            a {
                margin: $interval-s;
                padding: 7px 0 5px; // 內距上下平衡
                @include border-b($color: transparent);
                text-shadow: $text-shadow;
                transition: $speed-fast;

                &:hover {
                    @include border-b;
                    color: $deep;
                }
            }
        }
    }
}

// 手機以上尺寸
@media ($mediaSmUp) {
    #topbar {
        .menu {
            @include glassmorphism;
        }
    }
}

// 手機版
@media ($mediaSm) {
    #topbar {
        align-items: flex-start;
        padding: 20px;

        .navbar {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .hamburger {
                // 修改button預設樣式
                background-color: transparent;
                border: none;

                .bar {
                    display: block;
                    width: 24px;
                    height: 3px;
                    background-color: $deep;
                    margin: 5px auto;
                }
            }

            .navigation {
                display: none;
                align-items: center;
                @include glassmorphism;
                padding: 0 0 10px 10px;
                border-radius: 10px;

                .menu {
                    flex-direction: column;
                    order: -1;
                }
            }
        }
    }
}

/* 主要內容共用區 */
section {
    height: 100vh;
    @extend %box-center;
    flex-direction: column;

    .title {
        @extend %box-center;
        flex-direction: column;
        position: relative;
        margin-bottom: $interval-l;

        &::before {
            content: '';
            /* 必須設定。就算沒有值也要保留空值位置 */
            background-color: $deep;
            width: 15px;
            height: 15px;
            border-radius: 99px;

            position: absolute;
            top: -10px;
            left: -10px;
        }

        &::after {
            content: '';
            background-color: $deep;
            width: 10px;
            height: 10px;
            border-radius: 99px;

            position: absolute;
            bottom: 25px;
            right: -10px;
        }

        h2 {
            font-family: 'Niconne', cursive;
            font-size: $font-size-xxxl;
        }

        h3 {
            font-family: 'LXGW WenKai Mono TC', monospace;
            font-size: $font-size-l;
        }
    }
}

.box-list {
    width: 80%;
    max-width: 1400px;
    /* 最大寬度max-width(px)常搭配寬度width(%) */
    display: flex;
    // justify-content: space-between;

    .item {
        @include bordered;
        // width: 32%;
        flex: 1;
        margin: $interval-x-m;
        border-radius: $border-r-m;
        overflow: hidden; //隱藏超過框的內容

        .content {
            padding: $interval-m;

            h2 {
                font-size: $font-size-xl;
                font-weight: $font-w-bold;
                margin-bottom: $interval-s;
            }
        }
    }
}

/* 最新消息 */
#news {
    background-color: $bg-1;

    figure {
        height: 30vh;

        img {
            @extend %img-cover;
        }
    }

    .content {
        transition: $speed-fast;

        p {
            @extend %line-multiple;
            -webkit-line-clamp: 6;
            line-clamp: 6;
            text-align: justify;
        }

        &:hover {
            background-color: $light;
        }
    }
}

// 平板
@media ($mediaMd) {
    #news {
        .item {
            &:last-child {
                display: none;
            }
        }
    }
}

// 手機版
@media ($mediaSm) {
    #news {
        .item {
            &:nth-child(n+2) {
                display: none;
            }
        }
    }
}

/* 服務項目 */
#service {
    background-color: $bg-2;

    @each $service in 1, 2, 3, 4 {
        .svc-#{$service} {
            background-image: url(../images/pt_svc#{$service}.jpg);
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        // position: relative;

        background-size: cover;
        background-position: center;

        height: 60vh;

        .content {
            // position: absolute;
            // left: 0;
            // bottom: 0;
            // width: 100%;
            background-color: $alpha-b-65;
            color: $light;
            transition: $speed-fast;

            &:hover {
                background-color: $alpha-b-85;
            }

            p {
                @extend %line-single;
            }
        }
    }
}

@media ($mediaMd) {
    #service {
        .box-list {
            flex-direction: column; //主軸改為垂直，變成高度(主軸方向)抓內容尺寸
            height: 60vh; //補高度

            .item {
                margin: 15px 0;

                &:nth-child(n+3) {
                    //第三個以後作用
                    display: none;
                }
            }
        }
    }
}

/* 關於我們 */
#about {
    position: relative;
    background-color: $bg-1;

    div {
        position: absolute;
        z-index: $z-index-m;

        width: 55%;
        height: 100vh;

        @extend %box-center;
        flex-direction: column;

        background-color: $alpha-w-60;

        p {
            height: 70vh;
            overflow: scroll;
            margin: 0 70px;
            padding: $interval-m;

            &::-webkit-scrollbar {
                //捲動條
                width: 10px; //垂直捲軸寬
                height: 10px; //水平捲軸高
            }

            &::-webkit-scrollbar-button {
                //捲軸按鈕(上下)
                height: 0; //垂直捲軸按鈕高
                width: 0; //水平捲軸按鈕寬
            }

            &::-webkit-scrollbar-thumb {
                //捲軸手柄
                border-radius: 99px;
            }

            &::-webkit-scrollbar-track {
                //滾動條的軌道
                border-radius: 99px;
            }
        }
    }

    #video-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;

        // 修圖效果
        // mix-blend-mode: overlay;
        filter: brightness(160%) opacity(25%);
    }
}

@media ($mediaMd) {
    #about {
        div {
            width: 80%;
        }
    }
}

@media ($mediaSm) {
    #about {
        div {
            width: 90%;
            p {
                margin: 0 20px;
            }
        }
    }
}

/* 相關影片 */
#video {
    background-color: $bg-3;

    div {
        height: 60vh;

        video {
            height: 100%;
        }
    }
}

@media ($mediaMd) {
    #video {
        height: auto;
        padding: 100px 0;

        div {
            width: 80%;
            height: auto; //高度需要重新定義覆蓋桌機版

            video {
                width: 100%;
                height: auto;
            }
        }
    }
}


/* 聯絡我們 */
#contact {
    position: relative;
    overflow: hidden;
    background-image: url('../images/bg_contact.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* 固定背景 */

    #contact-form {
        width: 35%;

        >* {
            display: block;
            width: 100%;
        }

        label {
            margin: $interval-label;
            font-size: $font-size-s;
        }

        input,
        textarea {
            color: $lesser-4;
            font-size: $font-size-s;
            padding: 8px;
            border-radius: 5px;

            @include glassmorphism;
            // @extend %glassmorphism;

            // 修改input預設樣式
            background-color: transparent;
            border: none;

            &::placeholder {
                color: $lesser-3;
            }

            &:focus {
                outline: 2px solid $lesser-3;
            }
        }

        small {
            font-size: $font-size-xs;
            margin-top: $interval-s;
        }

        #contact-btn {
            @extend %box-center;

            @include glassmorphism;
            // @extend %glassmorphism;

            // 修改button預設樣式
            background-color: transparent;
            border: none;

            border-radius: 99px;
            height: 60px;
            width: 210px;
            margin: $interval-x-center;
            cursor: pointer;

            span {
                color: $lesser-4;
                letter-spacing: 1.5rem; // 字距加在每個字的右邊
                padding-left: 1.5rem; // 用左邊內距補右邊的字距使其平衡
            }

            &:hover {
                animation: rotate 0.7s ease-in-out both;

                span {
                    animation: storm 0.7s ease-in-out both;
                    animation-delay: 0.06s;
                }
            }
        }
    }

    .flower_1 {
        width: 320px;
        position: absolute;
        left: -30px;
        bottom: -50px;
        transform: rotate(30deg);
    }

    .flower_2 {
        width: 320px;
        position: absolute;
        top: 50px;
        right: -30px;
        transform: rotate(-50deg);
    }

}

@media ($mediaMd) {
    #contact {
        .flower_1 {
            width: 250px;
        }

        .flower_2 {
            width: 250px;
        }
    }
}

@media ($mediaSm) {
    #contact {
        #contact-form {
            width: 60%;

            #contact-btn {
                width: 100%;
            }
        }

        .flower_1 {
            width: 150px;
            bottom: -20px;
        }

        .flower_2 {
            width: 150px;
            top: 80px;
        }
    }
}

footer {
    background-color: $bg-1;
    padding: $interval-xy-l;
    display: flex;
    justify-content: space-between;

    .logo {
        width: 50px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .navigation {
            display: flex;

            @media ($mediaMd) {
                display: none;
            }

            .menu {
                display: flex;
                margin: $interval-x-m;

                >li {
                    width: 6rem; //寬度要相對於字寬才用rem設定
                    margin: $interval-x-s;

                    ul {
                        margin: $interval-y-s;
                    }
                }
            }
        }
    }
}